
pnas201619717_sdq3tj_revised_proofs.pdf
.Rhistory
data_wIDs/study1eventData.csv
data_wIDs/study1possibilityData.csv
data_wIDs/study2couldData.csv
data_wIDs/study2mayData.csv
data_wIDs/study2mightData.csv
data_wIDs/study2oughtData.csv
data_wIDs/study2shouldData.csv
data_wIDs/study3forceData.csv
data_wIDs/study3wantData.csv
data_wIDs/supplementalData/study2possibleData.csv
manuscript/Modality_PNAS_editsforproof.pdf
modality_SI_revised_editsforproof.pdf
pnas201619717_sdq3tj_proofs.pdf
implicitModalityAnalysis_forTalks.R
adultPossibility.jpeg
